* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
}
html {
	font-size: 62.5%; 
	scroll-behavior: smooth;
}
body {
	position: relative;
	font-family: 'Roboto', sans-serif;
	font-size: 1.6rem;
}
[id] {
	scroll-margin-top: 69px;
}
.hero-shadow {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.8);
	z-index: -1;
}
.orange-color {
	color: rgb(255, 102, 0);
}
.navbar-brand {
	font-size: 2.2rem;
	text-transform: uppercase;
}
.nav-link,
.navbar-toggler-icon {
	font-size: 1.8rem;
	text-transform: uppercase;
}
.home {
	position: relative;
	height: 60rem;
	background-image: url('../img/city.jpg');
	z-index: 0;
	background-position: center;
	background-size: cover;
}
.home .btn {
	padding: 1em 2em;
	font-size: 1.4rem;
	text-transform: uppercase;
}
.home .welcome-text {
	font-size: 2.2rem;
}
.aboutus-box h3 {
	font-size: 2.4rem;
	text-transform: uppercase;
	font-weight: bold;
}
.aboutus-icon {
	font-size: 4rem;
}
.accordion-button {
	padding: 1em;
	font-size: 1.8rem;
}
.team {
	background-color: rgb(248, 248, 248);
}
.team .card-img-top {
	height: 300px;
	object-fit: cover;
}
.accordion-button:not(.collapsed) {
	background-color: rgb(248, 248, 248);
	color: rgb(233, 106, 22);
}
.contact .submit-btn {
	font-size: 1.6rem;
}
.contact-info h3 {
	font-size: 2rem;
	font-weight: bold;
	text-transform: uppercase;
}
